@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
body {
  background-color: #fcfcfc;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-container{
  display: flex;
  height: 100vh;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap:10px;
}