.headder{
    height: 34vw;
     margin: 30px 80px;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contact{
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: aliceblue;
    bottom: 5vw;
    gap:1.5vw;
    left: 6vw;
    max-width: 70%;
    
    & button{
        background-color: transparent;
        padding: 10px 15px;
        border:1.5px solid #49557e;
        border-radius: 50px;
        color:white;
        transition: all 0.5s linear;
    }
    & button:hover{
       color: #49557e;
       background-color: aliceblue;
       border: none;
    }
}
  .header-contact h1{
    width: 100%;
    font-size: 55px;
    font-weight: 500;
  }



@media (max-width:950px){
    
  .header-contact h1{
    font-size: 40px;
    font-weight: 600;
  }

    .header-contact p{
        font-size: 15px;
    }

}
@media (max-width:750px){
    
  .header-contact h1{
    width: 100%;
    font-size: 35px;
    font-weight: 500;
  }

    .header-contact p{
        font-size: 12px;
    }
    .header-contact .btn{
        padding: 5px 10px;
    }

}
@media (max-width:655px){
    
  .header-contact h1{
    width: 100%;
    font-size: 28px;
    font-weight: 500;
  }
  .header-contact{
    position: relative;
    align-items: start;
    top:20px;
    left: 0;
    
    
}
 .header-contact p{
      display: none;
    }
  
    .header-contact .btn{
        padding: 5px 10px;
    }

}
@media (max-width:450px){
    
.headder{
   width: 100%;
   margin: 10px 30px;
   
}
  
.header-contact p{
  display: none;
}

.header-contact h1{
    font-size: 25px;
}
.header-contact .btn{
        padding: 3px 8px;
    }


    .header-contact{
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: aliceblue;
    bottom: 5vw;
    gap:1vw;
    left: 6vw;
    max-width: 70%;
    
    & button{
        background-color: transparent;
        padding: 10px 15px;
        border:1.5px solid #49557e;
        border-radius: 50px;
        color:white;
        transition: all 0.5s linear;
    }
    & button:hover{
       color: #49557e;
       background-color: aliceblue;
       border: none;
    }

}}